{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}
    Tracker
{% endblock %}

{% import "macros/lists.html.twig" as lists %}
{% use "navbar.html.twig" %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block container %}
<div class="container">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</div>
{% endblock %}
