{% extends "layout.html.twig" %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
    Home page
{% endblock %}

{% block content %}
    <h1>Issue Tracker Service</h1>

    <ul class="nav nav-pills nav-stacked col-sm-3">
        <li class="active"><a data-toggle="pill" href="#projects">Projects</a></li>
        <li><a data-toggle="pill" href="#issues">Issues</a></li>
        <li><a data-toggle="pill" href="#activities">Activities</a></li>
    </ul>

    <div class="tab-content col-sm-9">
        <div id="projects" class="tab-pane fade in active">
            <h3>Projects</h3>
            {% if is_granted('create_project', app.user) %}
                <a href="{{ path('project_create') }}">New project</a>
            {% endif %}

            {{ lists.simpleList(projects) }}
        </div>
        <div id="issues" class="tab-pane fade in">
            <h3>Issues</h3>
            {{ lists.issuesList(issues) }}
        </div>
        <div id="activities" class="tab-pane fade in">
            <h3>Activities</h3>
            {{ lists.activitiesList(getActivities(app.user)) }}
        </div>
    </div>
{% endblock %}