{% extends "layout.html.twig" %}

{% macro itemsList(items) %}
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item"><div><a href="{{ path(item.route, {'id': item.id}) }}">{{ item.caption }}</a></div></li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
    Home page
{% endblock %}

{% block content %}
    <h1>Issue Tracker Service</h1>

    {% import _self as blocks %}
    {{ blocks.itemsList(projects) }}
{% endblock %}