{% extends "layout.html.twig" %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
    User info
{% endblock %}

{% block content %}
    <div class="form-horizontal">
        <fieldset>
            <legend>User info</legend>
            <div class="form-group">
                {% if is_granted('edit', user) %}
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="col-sm-2">
                        Edit user info
                    </a>
                {% endif %}
            </div>
            <div class="form-group">
                <label class="col-sm-2">Email</label>
                <div class="col-sm-10">{{ user.email }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Username</label>
                <div class="col-sm-10">{{ user.username }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Full name</label>
                <div class="col-sm-10">{{ user.fullName }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Roles</label>
                <div class="col-sm-10">{{ roles }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Assigned issues</label>
                <div class="col-sm-10">
                    {{ lists.issuesList(issues) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Activities</label>
                <div class="col-sm-10">
                    {{ lists.activitiesList(getActivities(user)) }}
                </div>
            </div>
        </fieldset>
    </div>
{% endblock content %}
