{% extends "layout.html.twig" %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
    {{ pageTitle }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <fieldset>
        <legend>{{ pageTitle }}</legend>

        {% for row in form %}
            {% if row.vars.name != 'save' %}
                {{ form_row(row) }}
            {% endif %}
        {% endfor %}

        <div class="form-group">
            <label class="control-label col-sm-3 required">Members</label>
            <div class="col-sm-9" style="padding-top: 7px">
                <a href="{{ path('project_members_add', {'id': project.id}) }}">Add members</a>
                <div class="col-sm-12">
                {% for member in project.members %}
                    <div>
                        <a href="{{ path('user_view', {'id': member.id}) }}">{{ member.username }} {{ member.fullName ? "(#{member.fullName})" : '' }}</a>
                        <a class="small" href="{{ path('project_member_remove', {'project_id': project.id, 'user_id': member.id}) }}">delete</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        {{ form_row(form.save) }}
    </fieldset>

    {{ form_end(form) }}
{% endblock content %}
