{% extends "layout.html.twig" %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
    Project info
{% endblock %}

{% block content %}
    <div class="form-horizontal">
        <fieldset>
            <legend>Project info</legend>
            <div class="form-group">
                <h3 class="col-sm-12">{{ project.code }} {{ project.label }}</h3>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Summary</label>
                <pre class="col-sm-10">{{ project.summary }}</pre>
            </div>
            <div class="form-group">
                {% if is_granted('edit', project) %}
                    <a href="{{ path('project_edit', {'id': project.id}) }}" class="col-sm-2">Edit project</a>
                {% endif %}
            </div>
            <div class="form-group">
                <label class="col-sm-2">Issues</label>
                <div class="col-sm-10">
                    {% if is_granted('create_issue', project) %}
                        <a href="{{ path('issue_create', {'id': project.id}) }}">New issue</a>
                    {% endif %}

                    <div class="col-sm-12 list-group">
                    {% for issue in rootIssues %}
                        <div class="list-group-item">
                            <div><a href="{{ path('issue_view', {'id': issue.id}) }}">{{ issue.code }} {{ issue.summary }}</a></div>
                            <small>{{ issue.createdAt|date('Y-m-d H:i:s') }}
                                {% if is_granted('edit', issue) %}
                                    <a href="{{ path('issue_edit', {'id': issue.id}) }}">edit</a>
                                {% endif %}
                            </small>
                            {% if issue.childIssues is not empty %}
                                <div class="small"><span class="glyphicon glyphicon-triangle-right small" aria-hidden="true"></span> <a href="{{ path('issue_view', {'id': issue.id}) }}">subtasks</a></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Activities</label>
                <div class="col-sm-10">
                    <div class="col-sm-12 list-group">
                        {% for activity in activities %}
                            <li class="list-group-item">
                                <div>{{ activity.content | raw }}</div>
                                <small>{{ activity.createdAt|date('Y-m-d H:i:s') }}</small>
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock content %}
