{% extends "layout.html.twig" %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
    Project info
{% endblock %}

{% block content %}
    <div class="form-horizontal">
        <fieldset>
            <legend>Project info</legend>
            <div class="form-group">
                <label class="col-sm-3">Label</label>
                <div class="col-sm-9">{{ project.label }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Code</label>
                <div class="col-sm-9">{{ project.code }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Summary</label>
                <pre class="col-sm-9">{{ project.summary }}</pre>
            </div>
            <div class="form-group">
                <a href="{{ path('project_edit', {'id': project.id}) }}" class="col-sm-3">
                    Edit project
                </a>
            </div>
        </fieldset>
    </div>
{% endblock content %}
